<section class="cart">
    <div class="order ml-10 mr-10 mx-auto">
        <div>
            <img src="/img/cart-black" alt="cart">
        </div>
    </div>
    <!-- <div class="emptycart">
        <div class="ml-10 mr-10 mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2"> Cart Empty</h1>
            <p class="text-gray-500 text-lg mb-12">You have not ordered any thing yet.<br> to order, please visit our
                Main
                page
            </p>
            <img class="w-2/6 mx-auto mt-4" src="/img/empty-cart.png" alt="empty">
            <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go Back</a>
        </div>
    </div> -->
</section>